body {
  font-family: "Verdana; sans-serif";
  color: "white";
  background-color: "black";
  text-align: "centered";
}
h1 {
  font-size="50px";
}
h2 {
  font-size="42px";
  font-weight="300";
}
p {
  color: "gray"
}
.link {
  color: "aquamarine";
  font-size: "16px";
}
